{{> hearder}}
{{> navbar}}
<h1>ABOUT</h1>
  <table class="table table-bordered table-light">
  
  <tbody>
   
   
    <tr>
      <th colspan="2"><p>
          Godzilla: King of the Monsters (Godzilla 2: rey de los monstruos2​ en España y titulada Godzilla II: el rey de los monstruos en Hispanoamérica) es una película estadounidense de 2019, perteneciente a los géneros de acción, fantasía, monstruos y aventuras, dirigida por Michael Dougherty. Es la secuela de la película Godzilla, de 2014, y se trata de la tercera entrega cinematográfica del MonsterVerse creado por Legendary Pictures y Warner Bros. La cinta está protagonizada por Kyle Chandler, Vera Farmiga, Millie Bobby Brown, Bradley Whitford, Sally Hawkins, Charles Dance, Thomas Middleditch, O'Shea Jackson Jr., Ken Watanabe y Zhang Ziyi.
      </p></th>
      <th colspan="2"><img src="assets/imagen/godzilla.jpg" class="rounded" width="500" height="300"></th>
      
    </tr>
  </tbody>
</table>
{{> footer}}